<%	 provide :title, 'BlogPosts' %>

<h1><%= yield :title %></h1>
<%=	 link_to 'Return to main', root_path %>

<div class="container">
  <div class="row">
    <div class="col-md-3 profile box">
      <aside>
        <%	 if !signed_in? %>
            <h4>Hello Guest!</h4>
            You need to be signed in to make new posts. <br>
            <%= link_to "Log in", signin_path, class: 'btn btn-primary' %>
        <%	 else %>
            <h4><%=	 @current_user.username %></h4>
            <p><%=	 @current_user.fullname %></p>
            <hr>
            <p>Share:</p>
            <ul class="clearfix">
              <li>Facebook icon</li>
              <li>VK icon</li>
              <li>Email icon</li>
            </ul>
            <hr>
            <%=	 link_to 'New post', new_post_path, class: 'btn btn-primary' %>
        <%	 end %>

      </aside>
    </div>
    <div class="col-md-8 box">

      <%	 @posts.each do |p| %>
      <article>
        <header>
          <h2><%=	 p.title %></h2>
         </header>
        <footer>
          <small><%=	 p.created_at %></small>
        </footer>
        <div class="lead"><%=	 p.content.split('.')[0] %>... <%=	 link_to 'Read More', post_path(p.id) %></div>
        <hr>
      </article>
      <%	 end %>
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
